:root {
	--th-color: #337ab7;
}

a {
	text-decoration: none !important;
}

body {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 0.5em 1.5em 0.5em;
	font-family: sans-serif;
}

/* Header */

.header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: fit-content;
	text-align: center;
	margin-top: -5px;
}

.logo {
	position: absolute;
	margin-top: 8px;
	margin-left: 5px;
	top: 0;
	left: 0;
	width: 70px;
}

.header h1 {
	display: inline-block;
	text-transform: uppercase;
	font-size: 2.5rem;
	font-family: "Quicksand", sans-serif;
	font-weight: bold;
	margin-bottom: 10px;
	letter-spacing: 0.1rem;
	color: rgba(0, 0, 0, 0.8);
}

/* Subtítulo */
#Label1 {
	font-family: "Quicksand", sans-serif;
	color: rgba(0, 0, 0, 0.8);
}

.info-header textarea {
	padding-top: 1em;
	text-align: center;
	resize: none;
	width: 100%;
}

@media (max-width: 768px) {
	.info-header textarea {
		height: 60px;
	}
}

@media (max-width: 550px) {
	.logo {
		/*display: none;*/
		position: static;
	}

	.header h1 {
		font-size: 2rem;
		margin-top: 10px;
		margin-bottom: -15px;
	}

	/* Subtítulo */
	#Label1 {
		font-family: "Quicksand", sans-serif;
		font-size: 1.2rem;
	}
}

/*Botón al whatsapp*/
.btn-whatsapp {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.btn-whatsapp i {
	font-size: 40px;
	color: green;
}

/*Chevrón - Flecha indicadora de scroll*/
.chevron {
	position: fixed;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
}

.arrow {
	width: 0;
	height: 0;
	border-left: 20px solid black;
	border-right: 20px solid black;
	border-top: 40px solid yellow; /* Color de la flecha */
	animation: pulse 2s infinite; /* Efecto de parpadeo */
	border-radius: 5px;
}

/* Animación de parpadeo */
@keyframes pulse {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.contenedor-principal {
	width: 100%;
}

.msj-personas-comprando {
	text-align: center;
	margin: 0.5em 0;
	font-family: Tahoma, sans-serif;
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 1px;
	color: rgba(0, 0, 0, 0.7);
}

.msj-talon:nth-child(2) {
	font-size: 0.9rem;
	color: #24943d;
	letter-spacing: 1px;
}

.principal-buttons {
}

.container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	margin: 1em 0 2em 0;
}

.container-btn-sorteo,
.container-textos-sorteo {
	display: flex;
	justify-content: center;
	gap: 1.5rem;
}

.container-btn-sorteo {
	width: 100vw;
	flex-wrap: wrap;
}
.container-panel-numeros {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}

.container-premios {
	width: 100%;
}

.btn-numeros,
.btn-premios {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.info-validacion-numeros {
	text-align: center;
	margin: 1em auto;
}

.info-billetes {
	display: block;
	font-size: 1rem;
}

.info-billetes:nth-child(2) {
	letter-spacing: 1px;
	font-size: 0.9rem;
}

@media (max-width: 768px) {
	.text {
		display: block;
		width: 90vw;
		text-align: center;
	}
}

.btn {
	font-size: 1.5rem;
	font-family: Consolas;
	letter-spacing: 1px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 20px;
	margin: 1em auto;
	width: 280px;
	height: 80px;
	border-radius: 5px;
	color: white;
	background: linear-gradient(to right, #00b4db, #0083b0) !important;
	border: 1px solid #55a6c1;
	cursor: pointer;
	transition: all 0.3s ease-in;
}

#obutCobrar {
	display: none;
}

.btn-disabled {
	background-color: #e0e0e0 !important;
	color: #a0a0a0;
	cursor: not-allowed;
}

.btn:hover {
	background-color: green !important;
	color: white !important;
	transform: scale(1.015);
}

.boton:active {
	background-color: #387c3c !important;
	color: white !important;
}

@media (max-width: 768px) {
	.btn {
		width: 90vw;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Panel Números  */

#panel-numeros {
	padding-top: 2px;
}

.panel-numeros {
	margin: 1em 0;
	width: 100%;
}

.panel-numeros-mas-boton {
	width: 100%;
}

.btn-premios-container {
	position: relative;
	z-index: 999;
}

.tabla-numeros {
	width: 95%;
	font-family: sans-serif;
}

.tabla-numeros th,
.tabla-numeros td,
.tabla-numeros tr {
	font-size: 1.6rem;
}

.panel-numeros td {
	padding: 0.5em;
	color: rgba(0, 0, 0, 0.6);
	font-weight: bold;
	/*letter-spacing: .50px;*/
	border-right: none;
}

.panel-numeros tr:hover {
	background-color: lightblue;
	color: grey;
}

.tabla-checkbox input {
	cursor: pointer;
	height: 20px;
	width: 20px;
}

.footer-panel-numeros {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	gap: 20px;
}

.btn-footer-panel-numeros {
	padding: 5px 10px !important;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.btn-footer-panel-numeros:hover {
	transform: scale(1.025);
}

/*Panel Premios*/

.panel-premios {
	font-size: 1.3rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1.5em 0.6em;
}

img {
	width: 60px;
}

.img-premios {
	width: 60px;
	max-width: 65px;
}

.encabezado-panel-premios {
	width: 100%;
	text-align: center;
}

.panel-premios select {
	cursor: pointer;
	font-size: 1rem;
}

@media (max-width: 768px) {
	.panel-premios {
		flex-direction: column;
		padding-left: 0;
		padding-right: 0;
	}

	.panel-premios select {
		width: 100% !important;
		height: 30px;
		content: "\25BC";
		border: 1px solid black;
		border-radius: 5px;
	}

	.select-premios {
		padding: 0 !important;
	}
}

.panel-premios table {
	border: 2px solid rgba(0, 0, 0, 0.7);
	border-radius: 50%;
	width: 100%;
	margin: 0 auto;
}

.panel-premios td,
.panel-premios th {
	padding: 1em 2.5em;
	font-size: 1.4rem;
	text-align: center;
}

.panel-premios td {
	padding: 1rem;
}

.panel-premios th,
.panel-numeros th {
	background-color: var(--th-color);
	color: #fff;
}

.footer-panel-premios {
	display: flex;
	width: 90%;
	margin: 0 auto;
	font-weight: bold;
	font-family: sans-serif;
}

.footer-panel-premios span {
	display: inline-block;
	width: 50%;
	margin-bottom: 0.5em;
	padding: 0.5em 0.8em;
}

.footer-panel-premios #olblCantidadTotal {
	text-align: center;
	padding-left: 45px;
}

.footer-panel-premios .total {
	display: flex;
	width: 50%;
	text-align: center;
}

.total span:first-of-type {
	width: fit-content;
}

.total span:last-of-type {
	width: 100%;
}

@media (max-width: 768px) {
	.panel-premios td,
	.panel-premios th {
		font-size: 0.95rem;
		padding: 0.5em;
	}

	.panel-premios td select {
		font-size: 0.8rem;
	}

	.footer-panel-premios span {
		font-size: 0.8rem;
	}
}

/* Mensaje footer panel premios */

.msj-footer-panel-premios textarea {
	margin: 1em auto;
	display: block;
	width: 90%;
	height: 65px;
	padding: 1.2em 0.5em 0;
	resize: none;
	text-align: center;
	border-radius: 5px;
}

.msj-error-premios {
	color: red;
	font-size: small;
	font-weight: bold;
	display: block;
	text-align: center;
}

@media (max-width: 768px) {
	.msj-footer-panel-premios textarea {
		height: 90px;
	}
}

@media (max-width: 550px) {
	.msj-footer-panel-premios textarea {
		height: 120px;
	}
}

.monto-a-pagar {
	margin: 1em 0;
	padding: 0.5em 0;
	text-align: center;
}

.monto-a-pagar span:first-child {
	display: block;
	font-size: 2rem;
}

.monto-a-pagar span:last-child {
	display: block;
}

/*Medios de pago*/

.botones-medios-de-pago {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	margin: 2em 0;
}

.btn-pago {
	font-family: "Quicksand", sans-serif;
	border-radius: 5px;
	border: 1px solid black;
	font-size: 1.1rem;
	font-weight: bold;
	height: 80px;
	width: 500px;
	cursor: pointer;
	background-color: #28a745;
	color: #fff;
	transition: all 0.2s ease-in;
}

@media (max-width: 768px) {
	.btn-pago {
		width: 100%;
	}
}

.botones-medios-de-pago input:last-of-type {
	text-transform: uppercase;
}

.btn-pago:hover {
	background-color: #218838;
}

.btn-pago:active {
	background-color: #1e7e34;
}

.btn-metodo-pago {
	background-color: #007bff;
	color: #fff;
}

.btn-metodo-pago:hover {
	background-color: #0056b3;
}

.btn-metodo-pago:active {
	background-color: #004fa2;
}

/* Botón confirmación pagar con mercado pago*/
#obutPagaConMercadoPago {
	background-color: #007bff !important;
	color: #fff !important;
}

#obutPagaConMercadoPago:active {
	background-color: #004fa2 !important;
}

@media (max-width: 768px) {
	.disminuir-texto {
		font-size: 0.9rem !important;
	}
}

/* Panel upload */

/* Textarea del panel upload */
#Label24 {
	disable: true;
	font-size: 0.9rem;
	resize: none;
	text-align: center;
	padding: 0.1em 0.5em;
}

/* Botón Seleccionar Archivo */
#FileUpLoad2 {
	display: block;
	margin: 0 auto;
	font-size: 1rem;
	text-align: center;
	display: block;
	padding: 2em !important;
}

#FileUpLoad2 input[type="button"] {
	padding: 3em 3em !important;
	color: red;
}

input #file-upload-button {
	padding: 3em 3em !important;
}

@media (max-width: 768px) {
	#Label24 {
		height: 60px;
	}

	#FileUpLoad2 {
		width: 95%;
		text-align: center;
		font-size: 0.85rem;
	}
}

/* Panel Mercado Pago */

.panel-mercado-pago {
	text-align: center;
	font-size: 1.5rem;
	margin: 0.5em 0;
}

.titulo-panel-mercado-pago {
	margin: 0 0 1em 0;
}

.info-panel-mercado-pago textarea {
	width: 90%;
	height: 80px;
	padding: 0.5em 0.3em;
	text-align: center;
	resize: none;
}

.panel-upload-botones {
	display: block;
	text-align: center;
}

.panel-upload-botones input {
	padding: 1em 2em;
	font-size: 1rem;
}

@media (max-width: 380px) {
	.panel-upload-botones {
		display: block;
		width: 100%;
		text-align: center;
	}

	.info-panel-mercado-pago textarea {
		height: 200px;
	}

	#obutPagaConMercadoPago {
		background-color: #007bff !important;
		color: #fff !important;
	}
}

@media (max-width: 768px) {
	.info-panel-mercado-pago textarea {
		height: 160px;
	}
}

.btn-principal {
	padding: 1em 2em;
	background-color: #28a745;
	color: #fff;
	border-radius: 5px;
	border: 1px solid black;
	display: block;
	margin: 1em auto;
	text-transform: uppercase;
	font-size: 1rem;
	font-family: "Quicksand", sans-serif;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.2s ease-in;
}

.btn-principal:hover {
	background-color: green;
	color: white;
}

.panel-cvu-oculto {
	display: none !important;
}

#TextBox1,
#TextBox2 {
	display: none !important;
}

/*Panel Transferencia*/

.panel-transferencia {
	/*display: flex;
	flex-direction: column;
	gap: 1rem;*/
}

/*.panel-transferencia input {
	width: 100%;
	height: fit-content;
}*/

/*Cuenta en mp*/
.cuenta-mp {
	background-color: rgb(0, 158, 227);
	color: white;
	padding: 10px;
	border-radius: 5px;
	width: 80%;
	font-weight: bold;
}

/*Botones copíar alias y cvu*/
.btn-copiar-cvu-alias {
	display: block;
	font-size: 1.1rem;
	margin: 10px 0;
	border: none;
	width: fit-content;
	height: unset;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

.btn-copiar-cvu-alias:hover {
	transform: scale(1.025);
}

.titulo-nro-de-transferencia span:first-child {
	display: block;
	text-align: center;
	margin: 0 0 0.5em 0;
	font-family: "Quicksand", sans-serif;
	font-weight: bold;
}

.nro-de-transferencia {
	display: flex;
	gap: 1rem;
	padding: 1em 0;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	font-family: sans-serif;
}

#Label13,
#otxtValorTransferenciaNumero {
	display: inline-block;
	width: 40%;
	padding: 0.2em 0.1em;
}

#Label13 {
	text-align: center;
	width: fit-content;
}

#otxtValorTransferenciaNumero {
	padding: 0.3em 0.3em;
	font-size: 0.9rem;
	background-color: #f0f0f0;
	border-radius: 3px;
	border: 1px solid #ccc;
	/*margin: .5em auto;*/
}

@media (max-width: 768px) {
	.nro-de-transferencia {
		flex-direction: column;
	}
	#Label13,
	#otxtValorTransferenciaNumero {
		width: 90vw;
	}

	.btn-principal {
		width: 100%;
	}
}

.img-transferencia {
	text-align: center;
}

.img-transferencia img {
	width: 50%;
	height: 50%;
}

@media (max-width: 768px) {
	.img-transferencia img {
		width: 100%;
	}
}

/* Panel Cliente */

.transaccion-cliente {
	text-align: center;
}

.transaccion-cliente textarea {
	font-size: 1rem;
	font-family: "Quicksand", sans-serif;
	background: var(--th-color);
	background-color: #c8e6c9;
	background-color: #a0bea1;
	background-color: #32cd32;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 5px black;
	font-weight: bold;
	height: 60px;
	width: 90%;
	padding: 0.5em;
	padding-top: 1.5em !important;
	border-radius: 5px;
}

@media (max-width: 500px) {
	.transaccion-cliente textarea {
		height: 85px;
	}
}

@media (max-width: 768px) {
	.transaccion-cliente textarea {
		font-size: 0.9rem;
	}
}
/* Formulario Cliente */

.formulario-cliente {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 800px;
	font-family: "Quicksand", sans-serif;
	font-weight: bold;
	padding: 0.5em;
	margin: 0 auto;
}

.formulario-cliente h3 {
	text-align: center;
}

.formulario-cliente textarea {
	resize: none;
	padding: 0 1em;
	text-align: center;
}

.formulario-cliente span {
	display: block;
	text-align: center;
}

.formulario-cliente input[type="text"] {
	display: block;
	padding: 0.3em 0.3em;
	font-size: 0.9rem;
	width: 98% !important;
	background-color: #f0f0f0;
	border-radius: 3px;
	border: 1px solid #ccc;
	margin: 0.5em auto;
}

.formulario-cliente br {
	display: none;
}

@media (max-width: 768px) {
	.formulario-cliente input,
	.formulario-cliente span {
		width: 100%;
	}
}

.contenedor-inputs {
	margin: 1em 0;
}

.btn-formulario input[type="submit"] {
	font-family: "Quicksand";
	font-weight: bold;
	display: block;
	min-width: 50%;
	margin: 1em auto 1em auto;
	background-color: #007bff;
	color: #fff;
	border-radius: 5px;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	letter-spacing: 1px;
}

.btn-formulario input[type="submit"]:hover {
	background-color: #0056b3;
}

.msj-validador-whatsapp {
	display: block;
	padding-top: 1em !important;
	width: 90%;
	height: 80px;
	margin: 0 auto;
}

@media (max-width: 768px) {
	.msj-validador-whatsapp {
		height: 130px;
		width: 90%;
		padding: 1em 0;
	}
}

@media (max-width: 350px) {
	.msj-validador-whatsapp {
		height: 150px;
	}
}

/*Panel Encuesta*/

.texto-compra-confirmada {
	display: none;
}

.panel-encuesta {
	font-family: "Quicksand", sans-serif;
	width: 100%;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
}

.panel-encuesta table {
	width: 100%;
	border-collapse: collapse;
}

.titulo-panel-encuesta {
	font-size: 2.8rem;
	letter-spacing: 2px;
	width: 100%;
}

.titulo-seccion-encuesta {
	display: block;
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	background-color: var(--th-color);
	color: #fff;
	letter-spacing: 2px;
	border: 3px solid rgba(0, 0, 0, 0.5);
}

.seccion-encuesta {
	font-size: 1.1rem;
}

.seccion-encuesta div:nth-child(1) {
	background-color: lightblue;
}

.seccion-encuesta div:nth-child(even) {
	background-color: red;
}

.seccion-encuesta tbody tr td {
	display: block;
	width: 99.8%;
	background-color: #fff;
	padding: 1em 0;
	text-align: center;
	color: rgba(0, 0, 0, 0.7);
	border: 0.5px solid rgba(0, 0, 0, 0.5);
	font-weight: bold;
}

.seccion-encuesta td:hover {
	background-color: lightblue;
}

.seccion-encuesta td:active {
	background-color: cadetblue;
	color: #fff;
}

.seccion-encuesta input[type="radio"] {
	width: 20px;
	height: 20px;
	margin-right: 0.5em;
	cursor: pointer;
}

.seccion-encuesta input[type="radio"]:checked {
	background-color: grey;
}

.highlight {
	background-color: yellow;
}

.titulo-1 {
	background-color: #4292f5;
}

.section-1 tbody tr td {
	background-color: #a3cfff;
}

.titulo-2 {
	background-color: #425af5;
}

.seccion-2 tbody tr td {
	background-color: #d6ecf3;
}

.titulo-3 {
	background-color: var(--th-color);
}

.seccion-3 tbody tr td {
	background-color: #a6e6fd;
}

.titulo-4 {
	background-color: #4292f5;
}

.seccion-4 tbody tr td {
	background-color: #a3cfff;
}

.titulo-5 {
	background-color: #425af5;
}

.seccion-5 tbody tr td {
	background-color: #d6ecf3;
}

/*Ventana de premios del sorteo de la encuesta */
body {
	font-family: Arial, sans-serif;
}

.open-modal-btn {
	display: block;
	margin: 1em auto;
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	border: none;
	cursor: pointer;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; /* Asegura que el modal cubra toda la pantalla */
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	position: relative;
	width: 100%;
	max-width: 900px; /* Ajusta este valor si es necesario */
	max-height: 80%; /* Limita la altura del contenido del modal */
	overflow-y: auto; /* Habilita el scroll en el modal */
}

.no-scroll {
	overflow: hidden;
}

.close-modal {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 44px;
	cursor: pointer;
}

.modal-images {
	display: flex;
	justify-content: space-around;
}

@media (max-width: 768px) {
	.modal-images {
		flex-direction: column;
		align-items: center;
	}
}

.modal-images img {
	width: 150px;
	height: 150px;
	object-fit: cover;
}

@media (max-width: 768px) {
	.modal-images figure {
		width: 90vw;
		text-align: center;
	}
}
